# Installation steps
# 1. Copy this file to ~/dotenv folder as mdvxu.env
# 2. Set permissions for the file per local access requirements
# 3. Uncomment and set values for the environment variable used

# CAIR Interface SOAP Credentials
if.cair.user = user    # Username provided by CAIR
if.cair.password = password # Password provided by CAIR
if.cair.facility = CAIR     # Facility ID provided by CAIR

# CAIR HL7 variables
if.cair.orgcode = orgcode # Org code in MSH
if.cair.region = region # Region Code in MSH-6
if.cair.mode = T # Test / Production

# OpenEMR db access
if.openemr.dbhost = dbhost # Make sure mysql permissions are ser for database.user@host >
if.openemr.dbname = dbname # Make sure mysql permissions are ser for database.user@host are set
if.openemr.dbuser = dbuser # This user should be defined in OpenEMR with necessary authorizations
if.openemr.dbuser.password = password # Password for if.openemr.dbuser
